@keyframes nav-pic_img_animation {
    0%, 100% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }
}



    html {
  --looks-main-20: hsl(51deg 100% 20%);
  --looks-main-30: hsl(51deg 100% 30%);
  --looks-main-40: hsl(51deg 100% 40%);
  --looks-main-50: hsl(51deg 100% 50%);
  --looks-main-60: hsl(51deg 100% 60%);
  --looks-main-70: hsl(51deg 100% 70%);
  --looks-main-80: hsl(51deg 100% 80%);
  --looks-main-90: hsl(51deg 100% 90%);
  --looks-bg: white;
  --ui-main-20: hsl(0deg 0% 20%);
  --ui-main-30: hsl(0deg 0% 30%);
  --ui-main-40: hsl(0deg 0% 40%);
  --ui-main-50: hsl(0deg 0% 50%);
  --ui-main-60: hsl(0deg 0% 60%);
  --ui-main-70: hsl(0deg 0% 70%);
  --ui-main-80: hsl(0deg 0% 80%);
  --ui-main-90: hsl(0deg 0% 90%);
  --link-50: hsl(30deg 100% 50%);
  --link-90: hsl(30deg 100% 90%);
  --text: hsl(225deg 15% 40%);
        ::selection { 
            background: #ff5e6b; 
            border-radius: 10px;
            color: #fff;
   }
}

        body {
            font-family: "Noto Sans", sans-serif;
            color: #575e75;
            margin: 0;
            padding: 0;
        }

        .nav img {
            width: 50px; 
            height: 50px;
            margin-right: 5px;
            transition: 0.3;
            border-radius: 6px;
        }

        .nav img:hover  {
         animation: 3s infinite nav-pic_img_animation ease-in-out;
        }

        .nav b {
             margin: 0;
             font-size: 32px;
             position: relative;
        }

        .nav a {
             top: -10px;
        }

div.content_group.contributors-list > .button.contributor-type1:hover > img {
  animation: 0.5s button-social_anim cubic-bezier(0.07, 0.96, 0.37, 2.07);
}

@keyframes button-social_anim {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

        div.nav {
            background-color: #FD7279;
            height: 60px;
            color: #FFFFFF;
            box-shadow: 0px 1px 10px -3px #000000;
            width: clac(100%-40px);
            display: flex;
            align-items: center; /* Выравнивание по вертикали */
            justify-content: center;
            padding: 0 20px;
        }

        div.content {
            display: flex;
            flex-wrap: wrap; /* Добавляем перенос на новую строку */
            justify-content: center;
            padding: 20px;
        }

        div.information {
            border-color: #575e75;
            border-width: 3.5px;
            border-radius: 10px;
            background-color: #fff;
            transition: 0.3s;
            border-style: solid;
            width: calc(30% - 20px);
            min-width: 250px;
            height: auto;
            min-height: 50px;
            margin: 10px; 
            padding: 20px; 
            box-sizing: border-box;
        }


        a { text-decoration: none; }
        .link {
        text-decoration: none;
        font-family: "Noto Sans", sans-serif;
        color: #575e75;
        text-align: center;
        border-color: #4e5b85;
        transition: 0.3s;
        border-width: 3px;
        border-radius: 14px;
        border-style: dashed;
        width: auto;
        min-height: 15px;
        margin: 10px; 
        padding: 10px;
        max-width: 130px;
        transition: 0.3;
        background-color: #e9ecf7;
        }

        link.center {
            justify-content: center;
            display: flex;
            min-width: 50%;
        }

        div.part2 {
            width: 100%;
            background-color: #ff9273;
            height: auto;
            color: #f5f5f5;
        }

a.linka {
  border-radius: 10px;
  padding: 1px 3px;
  background: #ddd5ec;
  color: #754ec3;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s linear;
}

a.linka:selection {
  color: #fff;
}

a.linka:hover {
  background: #754ec3;
  color: #fff;
}

        .link:hover {
            border-color: #8992b1;
        background-color: #e3ebf1;
        }

        div.content_group.image-and-text {
         display: flex;
         align-items: center;
         gap: 50px;
        }

        div.content_group.image-and-text.left {
         flex-direction: row;
        }

        div.content_group.image-and-text.right {
         flex-direction: row-reverse;
        }       
        div.content_group.image-and-text > div {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         gap: 20px;
         max-width: 900px;
         width: 50%;
        }  

        div.content_group.image-and-text > img {
         max-width: 700px;
         width: 50%;
        }


    div.content_group.contributors-list {
        display: flex;
        align-items: center;
        gap: 20px;
        background-color:  #fff;
        border: 3.5px solid #575e75;
        border-radius: 10px;
        padding: 20px;
        width: min(calc(100% - 40px), 700px);
        flex-direction: row; 
    }

    .button {
      display: flex;
       flex-direction: column;
       justify-content: center;
          gap: 20px;
        background: var(--ui-main-90);
          color: var(--text);
          font-size: 25px;
          border-bottom: 2px solid var(--ui-main-70);
          border-radius: 10px;
          padding: 12px;
        font-weight: normal;
          text-decoration: none;
          transition: 0.3s linear;
    }
    .button:hover {
          background: var(--button-hov-bg)!important;
          color: var(--button-hov-text)!important;
          border-bottom-color: var(--button-hov-border)!important;
    }

    div.content_group.contributors-list > .button.contributor-type1
 {
    --button-hov-bg: #cccccc;
    --button-hov-border: #878686; }

        div.content_group.contributors-list > .button.contributor-type1 > img {
width: 50px;
height: 50px;
border-radius: 8px;
}

footer {
    width: 100%;
    background-color: #f7b6a3;
    height: auto;
    color: #3c3f49;
}

a.footer {
  padding: 1px 3px;
  background: #f7a188;
  color: #f8eff5;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s linear;
  border-radius: 10px;
  padding: 3px 3px;
}

a.footer:hover {
  background: #f8eff5;
  color: #e57c5e;
}
